body {
  margin: 0;
}

h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 2px solid gray;
  padding: 20px;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ol {
  border-right: 2px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
}

#grid ol {
  padding-left: 53px;
  padding-right: 0px;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}

#article {
  padding-left: 33px;
  border-left: 2px solid gray;
}

#pokemonList {
  width: 100%;
  height: 10px;
  text-align: center;
  text-decoration-color: white;
}
